.DS_Store
2020/XCode*
*xcodeproj*
Advent of Code 2020.xcodeproj
2020/Advent of Code 2020/Advent of Code 2020.xcodeproj/project.xcworkspace/xcuserdata/michael.herman.xcuserdatad/UserInterfaceState.xcuserstate
